In [1]:
import pandas as pd
import numpy as np
import re

### Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    finder= r'[aeiouAEIOU]'
    match=re.search(finder, string)
    return match

In [3]:
string= 'I am testing to see if my function works.'

In [4]:
is_vowel(string)

### Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [5]:
def is_valid_username(string):
    x= re.search(r'^[a-z][a-z0-9_]{0,31}$',string)
    if x:
        return True
    else:
        return False

In [6]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [7]:
is_valid_username('codeup')

True

In [8]:
is_valid_username('Codeup')

False

In [9]:
is_valid_username('codeup123')

True

In [10]:
is_valid_username('1codeup')

False

### Write a regular expression to capture phone numbers. It should match all of the following:
(210) 867 5309  
+1 210.867.5309  
867-5309  
210-867-5309

In [11]:
re.search(r'^.*\d?.\d.?\d.\d{4}', '(210) 867 5309')

In [12]:
re.search(r'^.*\d?.\d.?\d.\d{4}', '+1 210.867.5309')

In [13]:
re.search(r'^.*\d?.\d.?\d.\d{4}', '867-5309')

In [14]:
re.search(r'^.*\d?.\d.?\d.\d{4}', '210-867-5309')

### Use regular expressions to convert the dates below to the standardized year-month-day format.
02/04/19  
02/05/19  
02/06/19  
02/07/19  
02/08/19  
02/09/19  
02/10/19

In [15]:
date_list = ["02/04/19",
             "02/05/19",
             "02/06/19",
             "02/07/19",
             "02/08/19",
             "02/09/19",
             "02/10/19",
            ]

date_list

['02/04/19',
 '02/05/19',
 '02/06/19',
 '02/07/19',
 '02/08/19',
 '02/09/19',
 '02/10/19']

In [16]:
dates = pd.Series(date_list)
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [17]:
dates.str.replace(r'(.{1,2})/(.{1,2})/(.{1,2})', 
                  r'\3/\2/\1', 
                  regex=True)

0    19/04/02
1    19/05/02
2    19/06/02
3    19/07/02
4    19/08/02
5    19/09/02
6    19/10/02
dtype: object

### Write a regex to extract the various parts of these logfile lines:

GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58  
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58  
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [18]:
lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])

In [32]:
logfile_re= r'^(?P<method>GET|POST)\s+(?P<path>.*?)\s+\[(?P<timestamp>.*?)\]\s+(?P<http_version>.*?)\s+\{(?P<status>\d+)\}\s+(?P<bytes>\d+)\s+"(?P<user_agent>.*)"\s+(?P<ip>.*)$'

In [33]:
lines.str.extract(logfile_re, re.VERBOSE)

,method,path,timestamp,http_version,status,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58